
@model Personalsitev2.Models.ContactViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
      <h1>Lance Johnson</h1>
      <p>I'm an <span class="typed" data-typed-items="Designer, Developer, Entrepreneur, "></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <!-- UPDATE -->
          <p> I'm Lance, a Full Stack Software Developer student from St. Louis, MO. In July I will graduate from Centriq Training in hopes to find a Software Devloper
            job. Im a 2014 nursing graduate from Pike Lincoln Technical Center. I have been in the healthcare industury for the past 13 years and have worked in                    various different specialties, Emergency Medicine, Orthopedics, Pediatrics, and currently working in Virtual Medicine. I have always had a desire to work
            with technolgy, and feel its time to make the change. <br><br/>

            In my free time I enjoy spending time with my friends, family and my dog Nash. Hobbies include traveling, hiking, attending sporting events,playing                    volleball, and volunteering. 

            
        

        </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/Nash.JPG" class="img-fluid Nash" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Full Stack Software Developer.</h3>
              
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.lance-johnson.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>lancejohnson2009@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>St. Louis, MO USA</span></li>
                </ul>
              </div>            
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


   

    <!-- ======= Resume need to update Section ======= -->
    
   
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <p class="fw-bold text-primary text-uppercase letter-spacing-3">Been employed since I was 13!</p>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Lance Johnson </h4>
              <p><em>I am a talented, ambitious and hardworking software coder student with over 13 years of Healthcare experience in the makes of a career change. I am known to be dependable,creative, outgoing and flexible. I can adapt to handling mulitple tasks on a daily basis competently and at working well under pressure. A key strength is communication; building strong relationships with people in order to deliver the best results.  </em></p>
              <ul>
                <li>St Louis, MO USA</li>
                <li>lancejohnson2009@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Full Stack Coding Program </h4>
              <h5>2022 - 2022</h5>
              <p><em>Centriq Training, Kansas City, MO</em></p>
    
            </div>
            <div class="resume-item">
              <h4>Computer Science  </h4>
              <h5>2020-Present</h5>
              <p><em>Western Governors University, Millcreek, UT</em></p>
    
            </div>
            <div class="resume-item">
              <h4>Nursing </h4>
              <h5>2013 - 2014</h5>
              <p><em>Pike Lincoln Technical Center, Eolia, MO </em></p>
             
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Navigator</h4>
              <h5>05/2020 - Present</h5>
              <p><em>Mercy Virtual Care Center, Chesterfield, MO </em></p>
              <ul>
                <li>Part of establishing a brand-new virtual acute care program covering patients on multiple platforms. </li>
                <li>Triaging patients with various chronic/acute conditions, scheduling patients with pcp offices, working various workquees, placing orders and referrals. </li>
                <li>Navigating a mobile health vehicle with an advance provider to multiple patients homes. </li>
                <li>Collaborate effectively with Doctors, Advanced practitioners, and various care teams within Mercy’s system. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Pediatric Nurse</h4>
              <h5>01/2019-05/2020</h5>
              <p><em>St. Clair Pediatrics, Swansea, IL</em></p>
              <ul>
                <li>Rooming patients, initial interview, take vitals and record in patient charts. </li>
                <li>Prepare and administer injections of all ages. </li>
                <li>Running all testing Strep, Flu, RSV, lead, hemoglobin, and cholesterol. </li>
                <li>Inventory tracking, management, and ordering of medical and office supplies. </li>
                <li>Clerical duties including answering phones, scheduling patients and faxing medical records.</li>
                </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio needs updated Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Below you will find projects I have completed in my Software Development course.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon App"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="StoreFront"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ToDo API"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="React ToDo"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SAT"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">Project Title"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Link Section needs updated ======= -->
    <section id="links" class="links">
      <div class="container">

        <div class="section-title">
          <h2>Links</h2>
          <p class="BigFontmeet">Meet My Classmates</p>
        </div>

        <div class="row">
            <!--Derek Holland-->
          <div class="col-lg-4 col-md-6 icon-box classmate" data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://www.derek-holland.com">Derek Holland</a></h4>
            <img src="assets/img/derek.jpg" class="classmate" alt="Derek Holland">
            <p class="description"></p>
          </div>
          <!--David Sleezer -->
          <div class="col-lg-4 col-md-6 icon-box classmate" data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://www.david-sleezer.com">David Sleezer</a></h4>
            <img src="assets/img/david.jpg" class="classmate" alt="David Sleezer">
            <p class="description"> </p>
            </div>
            <!--Tanner Miller-->
          <div class="col-lg-4 col-md-6 icon-box classmate" data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://www.tannermillerdev.com">Tanner Miller</a></h4>
            <img src="assets/img/tanner.jpg" class="classmate" alt="Tanner Miller">
            <p class="description"></p>
          </div>
          <!--Sarra Tavokoli-->
          <div class="col-lg-4 col-md-6 icon-box classmate " data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://stavakoli.net">Sarra Tavokoli</a></h4>
            <img src="assets/img/sarra.jpg" class="classmate" alt="Sarra Tavokoli">
            <p class="description"> </p>
            </div>
          <!--Josh Christiann-->
          <div class="col-lg-4 col-md-6 icon-box classmate" data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://www.joshdchristian13.com">Josh Christiann</a></h4>
            <img src="assets/img/josh.jpg" class="classmate" alt="Josh Christiann">
            <p class="description"> </p>
          </div>
          <!--Jonathan Pedroza-->
          <div class="col-lg-4 col-md-6 icon-box classmate" data-aos="fade-up">
            <h4 class="title"><a href="">Jonathan Pedroza</a></h4>
            <img src="assets/img/jon.jpg" class="classmate" alt="Jonathan Pedroza">
            <p class="description"> </p>
          </div>
          <!--Roan Leffew-->
          <div class="col-lg-4 col-md-6 icon-box classmate " data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://www.rolecoded.com">Roan Leffew</a></h4>
            <img src="assets/img/roan.jpg" class="classmate" alt="Roan Leffew">
            <p class="description"></p>
          </div>
          <!--Dawson Meier-->
          <div class="col-lg-4 col-md-6 icon-box classmate" data-aos="fade-up">
            <h4 class="title"><a target="_blank" href="http://www.dawsonmeierdev.com">Dawson Meier</a></h4>
            <img src="assets/img/Dawson.jpg" class="classmate" alt="Dawson Meier">
            <p class="description"></p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p class="FontContact">Contact Lance Johnson</pclass>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>St.Louis, MO USA </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>lancejohnson2009@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p> (314) 753-7563</p>
              </div>
              <!-- LOOK UP -->
              <iframe src="https://maps.google.com/maps?q=Downtown%20St%20Louis&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
             <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

